<div class="topnav">
  <a class="ziwi"> Choose & go</a>
    <a routerLink="/home" routerLinkActive="active" style="margin-left:50px"> 
      Home  </a>
    <a routerLink="/profil" routerLinkActive="active" style="margin-left:10px"> <i class="fa fa-home fa-1x"></i>    Profile </a>
    <a routerLink="/share" routerLinkActive="active" style="margin-left:10px">   Share   <i class="fa-solid fa-share"></i> </a>
    <a routerLink="/about" routerLinkActive="active" style="margin-left:10px"> <i class="fa-solid fa-address-card"></i>    About </a>

    <a href="#logout"  routerLinkActive="active" style="margin-left:800px" (ngSubmit)="Logout()" >Logout  <i class="fa fa-sign-out" aria-hidden="true"></i></a>
   </div>

   