<div class="topnav">
  <a class="ziwi">    <img width="80" height="25" class="d-inline-block align-text-top" src="../../assets/logo22.png" alt="logo" >
  </a>

  <a routerLink="/home" routerLinkActive="active" style="margin-left:0px"> 
    Home  </a>
    <a routerLink="/profil" routerLinkActive="active" style="margin-left:10px"> <i class="fa fa-home fa-1x"></i>    Profile </a>
    <a routerLink="/share" routerLinkActive="active" style="margin-left:10px">   Share   <i class="fa-solid fa-share"></i> </a>
    <a routerLink="/about" routerLinkActive="active" style="margin-left:10px"> <i class="fa-solid fa-address-card"></i>    About </a>
    
    <a href="#logout"  routerLinkActive="active" style="margin-left:880px;" (ngSubmit)="Logout()" >Logout  <i class="fa fa-sign-out" aria-hidden="true"></i></a>
   </div>

   