<div class="topnav">
  <a class="ziwi"> Choose & go</a>
    <a class="active" href="/home" style="margin-left:50px"> 
      Home  </a>
    <a href="about" style="margin-left:10px"> <i class="fa-solid fa-address-card"></i>    About </a>
    <a href="profil"style="margin-left:10px"> <i class="fa fa-home fa-1x"></i>    Profile </a>
    <a href="share" style="margin-left:10px">   Share   <i class="fa-solid fa-share"></i> </a>

    <a href="#logout" style="margin-left:800px" (ngSubmit)="Logout()" >Logout  <i class="fa fa-sign-out" aria-hidden="true"></i></a>
   </div>