
  .span{
    font-size: 20px;
    font-weight: bold;
    color: #41B883;
  }
  #p{
    margin-top: 140px;
    margin-left: 100px;
    margin-right:100px ;
  }
 
  .a{
    margin-top: 70px;
    font-size: 20px;
    font-weight: bold;
    color: #34495E;
    text-align: center;

   }
  h1{
    text-align: center;
  }
  #c{
    text-align: center;
    font-style: italic;
    margin-top: 10px;

  }
  img {
    width: 200px;
  }